<!-- This is the base template for all other templates to inherit from. -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %} Caly-Locations {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    {% block extra_css %}{% endblock %}   
</head>


</script>
<body>

  

  <header class="header">
    <div class="row align-items-center display_1 display_2 title_margin header_shadow">
      <div class="col-auto">
        <h1>
          <a href="{% url 'index' %}">
            <img class="my-3" src="{% static 'images/main_logo.png' %}" alt="Caly Locations" style="width: 250px; height: 43.7905px;">
          </a>
        </h1>
      </div>
        <div class="col-auto ml-auto">
          {% block active_user %}{% endblock %}
        </div>
        <div class="col-auto">
          <a href="{% url 'download_pdf' %}" class="btn btn-secondary mr-4">
            USER GUIDE
          </a>
          {% block logout_button %}{% endblock %}
        </div>
    </div>
  </header>
    
 <!-- Main Content Block -->
    {% block content %}{% endblock %}  

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
